.hero {
    text-align: center;

    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
    background-position: center;

    
}




.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $primary-white-color;
}

.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;    
    text-align: center;
    letter-spacing: 0.06em;
    
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px;

    background-color: $accent-color;
    color: $primary-white-color;
    border-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:active {
        background-color: #188CE8;
    }
}