.footer {
  max-width: 1600px;
  margin: 0 auto;

  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.footer-nav__link {
  display: inline-block;
  margin-top: 9px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-nav__address {
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.footer-socaial__wrap {
  margin-left: 70px;
}

.footer-socaial-icon__list {
  display: flex;
}

.footer-socaial-icon__item {
  margin-right: 10px;

  width: 44px;
  height: 44px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-socaial-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  color: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color $animation, background-color $animation;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer__icon {
  fill: currentColor;
}

/* Footer - form */

.footer-form__wrap {
  margin-left: auto;
}

.footer__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.footer-form__input {
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  cursor: pointer;

  outline-width: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: $primary-white-color;

  transition: border-color $animation;

  &::placeholder {
    transition: color $animation;
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: $accent-color;
    }
    border-color: $accent-color;
  }
}

.footer-form__button {
  position: relative;

  padding: 10px 28px;
  width: 200px;
  height: 50px;

  display: flex;
  align-items: baseline;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $primary-white-color;
  border-radius: 4px;
}

.footer-form-button__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  fill: $primary-white-color;
}
