.header__flex {
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) { 
    display: flex;
    align-items: center; 

    margin-top: 0;
    margin-bottom: 0;
  }
}


.header__nav {
  display: flex;
  align-items: center;
  
}

.header-nav__list {
  display: none;
  
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px; 
  }

  @media screen and (min-width: $desctop) {
    margin-left: 93px;
  }
}

.header-nav__link {
  display: inline-block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color $animation;

  &:hover,
  &:focus,
  &--current {
    color: $accent-color;
  }
}

.header-nav__item {
  position: relative;

  @media screen and (min-width: $tablet) {
    margin-right: 50px;

    &:last-child {
    margin-right: 0;
  }
  }
}

.header-nav__linie {
  display: none;

  @media screen and (min-width: $tablet) {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: $accent-color;
  }
}

.header-contacts__icon {
  background-position: center;
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
  }
  
}

.header-contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $sacondary-text-color;

  text-decoration: none;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts__item {
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
  }

  @media screen and (min-width: $desctop) {
    margin-right: 50px;
    margin-bottom: 0;

  &:last-child {
    margin-right: 0;
  }
  }
  
}
