.header-button__icon {
  fill: #000000;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-button__open {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}
.mobile-menu__container{
  height: 100%;
  display: flex;
  flex-direction: column;
}


.menu-container {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 48px 40px;


  background-color: $primary-white-color;

  overflow-y: scroll;
  transform: translate(100%, -100%);

  &.is-open {
    transform: translate(0);
  }

  transition: transform $animation;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-button__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-contact__list {
  margin-bottom: 64px;
}

.mobile-contact-mail__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-tel__link {
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-color;
}

.mobile-contact-mail__link {
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $sacondary-text-color;
}

.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__item {
 
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2); 
    padding-right: 10px;
  }
}

.mobile-social__link {
  font-weight: 500;
  font-size: 4vw ;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
  
   &:not(:first-child) {
  padding-left: 10px;
}
}
