.portfolio-project__list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
}

.portfolio-project__link {
    display: block;

    transition: box-shadow $animation;

    &:hover,
    &:focus {
        &.project-list-wrap {
            transform: translateY(0);
        }
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        outline: transparent;
    }
}

.portfolio-project__img {
    position: relative;
    overflow: hidden;
}

.portfolio-project__wrap {
    position: absolute;
    top: 0;
    left: 0;

    overflow: auto;
    transform: translateY(101%);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    
    transition: transform $animation;
}

.portfolio-project__text {
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    color: $primary-white-color;
}

.portfolio-project__border {
    border: 1px solid #EEEEEE;
    border-top:  none;

    padding: 20px 24px;
}

.portfolio-project__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: $primary-text-color;
}

.portfolio-project__subtitle {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    
    color: $sacondary-text-color;
}